* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Courier, monospace;
    padding: 0;
    color: #382711;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    text-align: center;
}

nav a {
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
    color: #ce4233;
}

.border-right {border-right: 1px solid #ce4233}

#banner-box {
    position: relative;
    height: 70vh;
    min-height: 350px;
    background-image: radial-gradient(farthest-corner at 90% 75%, #5d5d5f, #58585c, #424346, #333438);
}

#title {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#title h1 {
    font-family: "Audiowide", serif;
    font-size: 3em;
    font-style: normal;
    position: relative;
    color: #ce4233;
    text-shadow: 1px 1px 1px #382711;
}

#title #tagline {
    font-size: 1.5em;
    color: #ce4233;
    text-shadow: 1px 1px 1px #382711;
}

#banner-pic {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60%;
    margin: 0 auto;
}

h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

#about-me {padding: 50px 100px;}

#about-me h2 {color: #ce4233;}

#about-me p {
    font-size: 0.85em;
    line-height: 2em;
    margin-bottom: 15px;
}

#projects {
    padding: 50px 100px;
    background-color: #343944;
}

#projects a {
    text-decoration: none;
    color: white;
}

#projects h2 {color: white;}

#projects fieldset {padding: 15px;}

#projects fieldset legend {font-weight: bold;}

#projects fieldset p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 10px;
    text-align: justify;
}

#projects .project-screenshots {
    display: grid;
    grid-template-columns: auto;
}

#projects .project-screenshots .grid-item {
    width: 100%;
    margin-bottom: 15px;
}

#contact {
    padding: 50px 100px;
    background-color: #ce4233;
}

#contact h3 {
    font-size: 1.5em;
    line-height: 2em;
}

#contact p {line-height: 1.5em;}

#contact a {color: #382711;}

#socials a {
    margin-right: 20px;
    text-decoration: none;
}

@media only screen and (min-width: 950px) {

    nav {
        position: fixed;
        z-index: 100;
        left: 0.5%;
        width: 99%;
        text-align: right;
    }

    #title {
        position: absolute;
        top: 40%;
        left: 15%;
        margin: 0;
        text-align: left;
    }

    #banner-pic {
        position: absolute;
        right: 15%;
        bottom: 0;
        left: auto;
        height: 80%;
        margin: 0;
    }

    #projects .project-screenshots {
        display: grid;
        padding: 10px;
        color: white;
        grid-template-columns: auto auto auto;
        justify-items: center;
    }

    #projects .project-screenshots .grid-item {
        width: 90%;
        margin-bottom: 15px;
    }

    .inline {display: inline-block;}

    .half-view {width: 50%;}
}